.admin-dsbd-asetting-page .dashboard-ttl-wrap {
  margin-bottom: 40px;
}

.admin-dsbd-asetting-page .tbl .th:nth-child(1),
.admin-dsbd-asetting-page .tbl .td:nth-child(1) {
  width: 5%;
}

.admin-dsbd-asetting-page .tbl .th:nth-child(2),
.admin-dsbd-asetting-page .tbl .td:nth-child(2) {
  width: 10%;
}

.admin-dsbd-asetting-page .tbl .th:nth-child(3),
.admin-dsbd-asetting-page .tbl .td:nth-child(3) {
  width: 10%;
}

.admin-dsbd-asetting-page .tbl .th:nth-child(4),
.admin-dsbd-asetting-page .tbl .td:nth-child(4) {
  width: 22%;
}

.admin-dsbd-asetting-page .tbl .th:nth-child(5),
.admin-dsbd-asetting-page .tbl .td:nth-child(5) {
  width: 21%;
}

.admin-dsbd-asetting-page .tbl .th:nth-child(6),
.admin-dsbd-asetting-page .tbl .td:nth-child(6) {
  width: 10%;
}

.admin-dsbd-asetting-page .tbl .th:nth-child(7),
.admin-dsbd-asetting-page .tbl .td:nth-child(7) {
  width: 22%;
}

.admin-dsbd-csetting-page .dashboard-ttl-wrap {
  margin-bottom: 40px;
}

.admin-dsbd-csetting-page .tbl .th:nth-child(1),
.admin-dsbd-csetting-page .tbl .td:nth-child(1) {
  width: 5%;
}

.admin-dsbd-csetting-page .tbl .th:nth-child(2),
.admin-dsbd-csetting-page .tbl .td:nth-child(2) {
  width: 8%;
}

.admin-dsbd-csetting-page .tbl .th:nth-child(3),
.admin-dsbd-csetting-page .tbl .td:nth-child(3) {
  width: 18%;
}

.admin-dsbd-csetting-page .tbl .th:nth-child(4),
.admin-dsbd-csetting-page .tbl .td:nth-child(4) {
  width: 7%;
}

.admin-dsbd-csetting-page .tbl .th:nth-child(5),
.admin-dsbd-csetting-page .tbl .td:nth-child(5) {
  width: 7%;
}

.admin-dsbd-csetting-page .tbl .th:nth-child(6),
.admin-dsbd-csetting-page .tbl .td:nth-child(6) {
  width: 7%;
}

.admin-dsbd-csetting-page .tbl .th:nth-child(7),
.admin-dsbd-csetting-page .tbl .td:nth-child(7) {
  width: 17%;
}

.admin-dsbd-csetting-page .tbl .th:nth-child(8),
.admin-dsbd-csetting-page .tbl .td:nth-child(8) {
  width: 17%;
}

.admin-dsbd-csetting-page .tbl .th:nth-child(9),
.admin-dsbd-csetting-page .tbl .td:nth-child(9) {
  width: 7%;
}

.admin-dsbd-csetting-page .tbl .th:nth-child(10),
.admin-dsbd-csetting-page .tbl .td:nth-child(10) {
  width: 7%;
}

.admin-dsbd-main-page .dashboard-ttl-wrap {
  margin-bottom: 40px;
}

.admin-dsbd-main-page .chart-area {
  margin-bottom: 15px;
}

.admin-dsbd-main-page .section-ttl {
  font-size: 30px;
  color: #111;
  margin-bottom: 15px;
}

.admin-dsbd-main-page .red-square-txt {
  background-color: #eb5757;
  color: white;
  min-width: 42px;
  height: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0 10px;
  margin-right: 5px;
}

.admin-dsbd-main-page .section {
  margin-bottom: 50px;
}

.admin-dsbd-main-page .section:last-child {
  margin-bottom: 0;
}

.alarm-card-grp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 15px;
}

.alarm-card {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  background-color: #FFF;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 7px;
  gap: 20px;
}
.alarm-card .card-ico-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.alarm-card .ico-on {
  display: none;
}

.alarm-card .card-badge {
  min-width: 173px;
  height: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #08146B;
  color: white;
  font-size: 22px;
  padding: 0 10px;
}

.alarm-card .card-badge.type-red {
  background-color: #EB5757;
}

.alarm-card .card-badge.type-ylw {
  color: #4D4D4D;
  background-color: #FBEF87;
}

.alarm-card .card-desc {
  /* margin-top: 10px; */
  font-size: 22px;
  color: #5C5C5C;
}

.alarm-card .card-ico-box {
  margin-left: auto;
  padding: 0 10px;
}

.alarm-card.active .ico-on {
  display: block;
}
.alarm-card.active .ico-off {
  display: none;
}

.alarm-card-grp:last-child {
  margin-bottom: 0;
}

.admin-dsbd-main-page .section-cols {
  display: flex;
  align-items: stretch;
  gap: 80px;
  width: 100%;
}

.admin-dsbd-main-page .section-col.type-left {
  width: 100%;
}

.admin-dsbd-main-page .section-col.type-right {
  width: 418px;
  flex-shrink: 0;
}

.activity-card-row-grp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.activity-card-row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.activity-card {
  width: 180px;
  height: 180px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 24px;
  box-sizing: border-box;
  gap: 7px;
}

.activity-ttl-card {
  width: 180px;
  height: 180px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.activity-ttl-card.type-voice {
  /* border-radius: 20px; */
  background-color: #25C6DA;
  /* box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25); */
}

.activity-ttl-card.type-avatar {
  background-color: #F67356;
}

.activity-ttl-card.type-pavatar {
  background-color: #08146B;
}

.activity-ttl-card .card-ttl {
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}

.activity-ttl-card.type-voice .ico {
  width: 42px;
  height: 34px;
}

.activity-ttl-card.type-avatar .ico {
  width: 32px;
  height: 40px;
}

.activity-ttl-card.type-pavatar .ico {
  width: 53px;
  height: 50px;
}

.activity-ttl-card .ico {
  object-fit: contain;
}

.activity-card .card-desc {
  font-size: 40px;
  font-weight: 700;
}

.activity-card .card-ttl {
  font-size: 16px;
  font-weight: 500;
  color: #3d3d3d;
}

.activity-card .card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.activity-card .card-etc-txt {
  color: #505050;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
  line-height: 1.5;
}

.user-activity-box {
  padding: 33px 44px;
}

.user-activity-card {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.user-activity-card .card-ttl-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* font-size: 16px; */
  /* font-weight: 500; */
  /* color: #3d3d3d; */
  margin-bottom: 5px;
}

.user-activity-card .card-ttl {
  font-size: 16px;
  font-weight: 500;
  color: #3d3d3d;
}

.user-activity-card .card-etc-txt {
  font-size: 12px;
  color: #505050;
  font-weight: 300;
}

.user-activity-card:last-child {
  margin-bottom: 0;
}

.user-activity-card .card-desc-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.user-activity-card .card-desc {
  font-size: 40px;
  font-weight: 700;
}

.user-activity-card .card-desc-wrap .sm-txt {
  padding-top: 8px;
  font-size: 12px;
  font-weight: 300;
}

.user-activity-card .card-desc-wrap .sm-txt.type-red {
  color: #eb5757;
}

.user-activity-card .card-desc-wrap .sm-txt.type-blue {
  color: #0085ff;
}

.user-activity-card .card-desc.blue-txt {
  color: #2F75F1;
}

.admin-dsbd-ntcsetting-page .dashboard-ttl-wrap {
  margin-bottom: 40px;
}

.admin-dsbd-ntcsetting-page .tbl .th:nth-child(1),
.admin-dsbd-ntcsetting-page .tbl .td:nth-child(1) {
  width: 5%;
}

.admin-dsbd-ntcsetting-page .tbl .th:nth-child(2),
.admin-dsbd-ntcsetting-page .tbl .td:nth-child(2) {
  width: 10%;
}

.admin-dsbd-ntcsetting-page .tbl .th:nth-child(3),
.admin-dsbd-ntcsetting-page .tbl .td:nth-child(3) {
  width: 26%;
}

.admin-dsbd-ntcsetting-page .tbl .th:nth-child(4),
.admin-dsbd-ntcsetting-page .tbl .td:nth-child(4) {
  width: 15%;
}

.admin-dsbd-ntcsetting-page .tbl .th:nth-child(5),
.admin-dsbd-ntcsetting-page .tbl .td:nth-child(5) {
  width: 17%;
}

.admin-dsbd-ntcsetting-page .tbl .th:nth-child(6),
.admin-dsbd-ntcsetting-page .tbl .td:nth-child(6) {
  width: 17%;
}

.admin-dsbd-ntcsetting-page .tbl .th:nth-child(7),
.admin-dsbd-ntcsetting-page .tbl .td:nth-child(7) {
  width: 10%;
}

.admin-dsbd-paysetting-page .dashboard-ttl-wrap {
  margin-bottom: 40px;
}
.admin-dsbd-paysetting-page .section {
  margin-bottom: 20px;
}
.admin-dsbd-paysetting-page .section:last-child {
  margin-bottom: 0;
}

.tabbox {
  width: 355px;
  height: 140px;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  gap: 20px;
  padding: 15px;
  cursor: pointer;
}

.tabboxes {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 20px;
}

.tabbox.type-blue {
  background-color: #25C6DA;
}

.tabbox.type-red {
  background-color: #F67356;
}

.tabbox.type-navy {
  background-color: #08146B;
  cursor: default;
}

.tabbox .ico {
  position: absolute;
  top: 18px;
  left: 22px;
}

.tabbox .tabbox-etc-txt {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.64px;
}

.tabbox .tabbox-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 3px;
}

.tabbox .tabbox-desc {
  font-size: 32px;
  font-weight: 700;
}

.tabbox-contents {
  width: 100%;
}

.tabbox-content {
  width: 100%;
  display: none;
}

.tabbox-content.active {
  display: block;
}

.specification-boxes {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 27px;
}

.specification-boxes .specification-box:first-child {
  width: 100%;
}

.specification-boxes .specification-box:nth-child(2) {
  width: 425px;
  flex-shrink: 0;
}

.specification-box {
  background-color: white;
}

.specification-box.type-red {
  border-top: 13px solid #F67356;
}

.specification-box.type-red .box-ttl-wrap {
  background-color: rgba(246, 115, 86, 0.1);
}

.specification-box.type-blue {
  border-top: 13px solid #25C6DA;
}

.specification-box.type-blue .box-ttl-wrap {
  background-color: rgba(37, 198, 218, 0.1);
}

.specification-box .box-ttl-wrap {
  width: 100%;
  padding: 16px 22px;
}

.specification-box .box-ttl {
  font-size: 30px;
  font-weight: 500;
  color: #111;
}

.specification-box .box-content {
  padding: 34px;
}

.specification-box .form-item-grp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 38px;
}

.specification-box .form-item .form-label {
  margin: 0;
  font-size: 20px;
  color: #111;
  font-weight: 700;
  min-width: 210px;
  flex-shrink: 0;
  padding-right: 15px;
}

.specification-box .txt {
  font-size: 20px;
  font-weight: 400;
  color: #111;
}

.specification-box:nth-child(2) .form-item .form-label {
  min-width: 125px;
}

.specification-box .info-dl-grp {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px;
  margin-top: 12px;
}

.specification-box .info-dl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: #111;
  font-weight: 400;
}

.specification-box .info-dl-grp:first-child {
  margin-top: 0;
}

.specification-box .info-dl b,
.specification-box .info-dl .gray-txt {
  color: #8D96A1;
  font-weight: 400;
}

.specification-box .iflex-item {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}

.specification-box .progress {
  height: 23px;
}

.specification-box:nth-child(2) .hover-set-item {
  display: inline-flex;
}

.specification-box:nth-child(2) .iflex-item.type-col {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.specification-box:nth-child(2) .sm-txt {
  font-size: 14px;
}

.specification-box:nth-child(2) .hover-content-grp {
  padding-bottom: 27px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.specification-box:nth-child(2) .gray-bubble-box {
  background-color: #979EA6;
  border-radius: 3px;
  color: white;
  max-width: 185px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 400;
  word-break: keep-all;
  padding: 7px 10px;
  position: relative;
}

.specification-box:nth-child(2) .gray-bubble-box:after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: transparent;
  display: inline-block;
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #979EA6;
  border-left: 10px solid transparent;
  box-sizing: border-box;
}

.admin-dsbd-uscheck-page .dashboard-ttl-wrap {
  margin-bottom: 40px;
}

.admin-dsbd-uscheck-page .tbl .th:nth-child(1),
.admin-dsbd-uscheck-page .tbl .td:nth-child(1) {
  width: 5%;
}

.admin-dsbd-uscheck-page .tbl .th:nth-child(2),
.admin-dsbd-uscheck-page .tbl .td:nth-child(2) {
  width: 7%;
}

.admin-dsbd-uscheck-page .tbl .th:nth-child(3),
.admin-dsbd-uscheck-page .tbl .td:nth-child(3) {
  width: 15%;
}

.admin-dsbd-uscheck-page .tbl .th:nth-child(4),
.admin-dsbd-uscheck-page .tbl .td:nth-child(4) {
  width: 7%;
}

.admin-dsbd-uscheck-page .tbl .th:nth-child(5),
.admin-dsbd-uscheck-page .tbl .td:nth-child(5) {
  width: 9%;
}

.admin-dsbd-uscheck-page .tbl .th:nth-child(6),
.admin-dsbd-uscheck-page .tbl .td:nth-child(6) {
  width: 10%;
}

.admin-dsbd-uscheck-page .tbl .th:nth-child(7),
.admin-dsbd-uscheck-page .tbl .td:nth-child(7) {
  width: 12%;
}

.admin-dsbd-uscheck-page .tbl .th:nth-child(8),
.admin-dsbd-uscheck-page .tbl .td:nth-child(8) {
  width: 12%;
}

.admin-dsbd-uscheck-page .tbl .th:nth-child(9),
.admin-dsbd-uscheck-page .tbl .td:nth-child(9) {
  width: 16%;
}

.admin-dsbd-uscheck-page .tbl .th:nth-child(10),
.admin-dsbd-uscheck-page .tbl .td:nth-child(10) {
  width: 7%;
  height: 10022p;
}

.admin-dsbd-usinvitation-page .dashboard-ttl-wrap {
  margin-bottom: 40px;
}

.admin-dsbd-usinvitation-page .tbl .th:nth-child(1),
.admin-dsbd-usinvitation-page .tbl .td:nth-child(1) {
  width: 5%;
}

.admin-dsbd-usinvitation-page .tbl .th:nth-child(2),
.admin-dsbd-usinvitation-page .tbl .td:nth-child(2) {
  width: 9%;
}

.admin-dsbd-usinvitation-page .tbl .th:nth-child(3),
.admin-dsbd-usinvitation-page .tbl .td:nth-child(3) {
  width: 18%;
}

.admin-dsbd-usinvitation-page .tbl .th:nth-child(4),
.admin-dsbd-usinvitation-page .tbl .td:nth-child(4) {
  width: 10%;
}

.admin-dsbd-usinvitation-page .tbl .th:nth-child(5),
.admin-dsbd-usinvitation-page .tbl .td:nth-child(5) {
  width: 10%;
}

.admin-dsbd-usinvitation-page .tbl .th:nth-child(6),
.admin-dsbd-usinvitation-page .tbl .td:nth-child(6) {
  width: 23%;
}

.admin-dsbd-usinvitation-page .tbl .th:nth-child(7),
.admin-dsbd-usinvitation-page .tbl .td:nth-child(7) {
  width: 25%;
}

.admin-dsbd-uslog-page .dashboard-ttl-wrap {
  margin-bottom: 40px;
}

.admin-dsbd-uslog-page .tbl .th:nth-child(1),
.admin-dsbd-uslog-page .tbl .td:nth-child(1) {
  width: 5%;
}

.admin-dsbd-uslog-page .tbl .th:nth-child(2),
.admin-dsbd-uslog-page .tbl .td:nth-child(2) {
  width: 7%;
}

.admin-dsbd-uslog-page .tbl .th:nth-child(3),
.admin-dsbd-uslog-page .tbl .td:nth-child(3) {
  width: 10%;
}

.admin-dsbd-uslog-page .tbl .th:nth-child(4),
.admin-dsbd-uslog-page .tbl .td:nth-child(4) {
  width: 7%;
}

.admin-dsbd-uslog-page .tbl .th:nth-child(5),
.admin-dsbd-uslog-page .tbl .td:nth-child(5) {
  width: 9%;
}

.admin-dsbd-uslog-page .tbl .th:nth-child(6),
.admin-dsbd-uslog-page .tbl .td:nth-child(6) {
  width: 8%;
}

.admin-dsbd-uslog-page .tbl .th:nth-child(7),
.admin-dsbd-uslog-page .tbl .td:nth-child(7) {
  width: 12%;
}

.admin-dsbd-uslog-page .tbl .th:nth-child(8),
.admin-dsbd-uslog-page .tbl .td:nth-child(8) {
  width: 12%;
}

.admin-dsbd-uslog-page .tbl .th:nth-child(9),
.admin-dsbd-uslog-page .tbl .td:nth-child(9) {
  width: 16%;
}

.admin-dsbd-uslog-page .tbl .th:nth-child(10),
.admin-dsbd-uslog-page .tbl .td:nth-child(10) {
  width: 7%;
}

.admin-dsbd-uslog-page .tbl .th:nth-child(11),
.admin-dsbd-uslog-page .tbl .td:nth-child(11) {
  width: 7%;
}

.tbl-top-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.tbl-top-bar-inner-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tbl-top-bar-inner-wrap.type-left {
  gap: 13px;
}

.tbl-top-bar-inner-wrap.type-right {
  gap: 10px;
}

.tbl-status-dl {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 22px;
  gap: 5px;
}

.tbl-status-dl .dt {
  font-weight: 300;
}

.tbl-status-dl .dd {
  font-weight: 500;
}

.tbl-status-dl .red-txt {
  color: #EB5757;
  font-weight: 700;
}

.tbl-status-dl .blue-txt {
  color: #6557FF;
  font-weight: 700;
}

.search-inp-grp {
  background-color: white;
  width: 50px;
  height: 40px;
  border: 1px solid #afafaf;
  border-radius: 18px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s;
}

.search-inp-grp.active {
  width: 197px;
}

.search-inp-grp .inp {
  display: none;
  height: 100%;
  border-radius: 0;
  border: 0;
  padding: 0;
  padding-left: 12px;
  font-size: 15px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
}

.search-inp-grp .ico-btn {
  width: 50px;
  height: 40px;
  flex-shrink: 0;
}

.search-inp-grp.active .inp {
  display: block;
}

.js-search-inp .search-btn {
  pointer-events: none;
}

.js-search-inp.active .search-btn {
  pointer-events: visible;
}

.tbl {
  border: 1px solid #F2F2F2;
  background-color: white;
}
.tbl .checkbox-item {
  gap: 5px;
}
.tbl .checkbox-item .checkbox {
  width: 27px;
  height: 27px;
  background-color: #fff;
  border: 1px solid #C9D4EF;
  border-radius: 4px;
  overflow: hidden;
}
.tbl .checkbox-item .checkbox-inp:checked ~ .checkbox:after {
  opacity: 1;
  background-image: url(../images/ico/ico-checkbox-type03.svg);
  background-color: #2F75F1;
  background-size: 14px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.tbl-head {
  width: 100%;
  border-bottom: 2px solid #A4A4A4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 65px;
}

.hover-select-item {
  position: relative;
}

.hover-select-content-grp {
  position: absolute;
  top: 0;
  padding-top: 30px;
  z-index: 1;
  cursor: pointer;
}
.hover-select-content-grp .badge-lg {
  min-width: 213px;
}

.hover-select-btn {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  color: #111;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding-right: 18px;
  background-size: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='19' viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.55156 0.207031L8.45274 6.96406H0.650389L4.55156 0.207031Z' fill='%23514F4F'/%3E%3Cpath d='M4.55156 18.2266L8.45274 11.4695H0.650389L4.55156 18.2266Z' fill='%23514F4F'/%3E%3C/svg%3E%0A");
}

.hover-select-btn.type-sm {
  font-size: 14px;
}

.tbl-head .th {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  color: #111;
}

.th:last-child .hover-select-content-grp,
.th:nth-last-child(2) .hover-select-content-grp,
.th:nth-last-child(3) .hover-select-content-grp {
  left: auto;
  transform: translateX(0);
  right: 0;
}

.hover-select-btn.type-02 {
  width: 100%;
  border-radius: 7px;
  border: 1px solid #cbcbcb;
  height: 35px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
  color: #556372;
  outline: none;
  justify-content: flex-start;
  font-size: 13px;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.80096 14C3.66472 14 3.52849 13.94 3.42462 13.8202L0.155948 10.0486C-0.0519826 9.80868 -0.0519826 9.41969 0.155948 9.17987C0.363794 8.94004 0.70085 8.94004 0.908797 9.17987L3.80096 12.5172L6.69314 9.17998C6.90107 8.94016 7.23809 8.94016 7.44592 9.17998C7.65396 9.41981 7.65396 9.80879 7.44592 10.0487L4.1773 13.8203C4.07338 13.9401 3.93715 14 3.80096 14Z' fill='%23B7B7B7'/%3E%3Cpath d='M3.80096 0C3.66472 0 3.52849 0.0600238 3.42462 0.179819L0.155948 3.9514C-0.0519826 4.19132 -0.0519826 4.58031 0.155948 4.82013C0.363794 5.05996 0.70085 5.05996 0.908797 4.82013L3.80096 1.48283L6.69314 4.82002C6.90107 5.05984 7.23809 5.05984 7.44592 4.82002C7.65396 4.58019 7.65396 4.19121 7.44592 3.95129L4.1773 0.179702C4.07338 0.0598874 3.93715 0 3.80096 0Z' fill='%23B7B7B7'/%3E%3C/svg%3E%0A");
  background-position: calc(100% - 10px) 50%;
  background-size: 8px;
}

.hover-select-btn.active {
  color: #2F75F1;
}

.hover-select-btn.type-02 ~ .hover-select-content-grp {
  padding-top: 45px;
}

.tbl .tr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tbl .tbl-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 692px;
}

.tbl .tr:hover {
  background-color: #EEFCFD;
}

.tbl .tbl-body .td {
  font-size: 15px;
  color: #111;
  font-weight: 400;
  min-height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
  text-align: center;
}

.tbl .tbl-body .red-txt {
  color: #EB5757;
}

.tbl .tbl-body .blue-txt {
  color: #2F75F1;
}

.tbl .tbl-body .td-btns {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.tbl-under-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 15px;
}

.hover-select-content-grp {
  opacity: 0;
  pointer-events: none;
  min-width: 215px;
  transition: all 0.3s;
  top: -30px;
}

.hover-select-content-grp.type-lg {
  width: 415px;
}

.hover-select-item:hover .hover-select-content-grp {
  opacity: 1;
  pointer-events: visible;
  top: 0;
}

.hover-select-content-grp .white-box {
  padding: 15px 20px;
}

.hover-select-label-grp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
  border-bottom: 1px solid #BFBFBF;
  padding: 15px 0;
}

.hover-select-label-grp:first-child {
  padding-top: 0;
}

.hover-select-label-grp:last-child {
  padding-bottom: 0;
}

.hover-select-label-grp:last-child {
  border-bottom: 0;
}

.hover-select-label {
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 9px;
  gap: 7px;
  cursor: pointer;
}
.hover-select-label .radio-inp {
  display: none;
}
.hover-select-label .label-txt {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7px;
  cursor: pointer;
}
.hover-select-label .label-txt .ico {
  opacity: 0;
  transition: all 0.3s;
}
.hover-select-label .radio-inp:checked ~ .label-txt .ico {
  opacity: 1;
}
.hover-select-label .txt {
  color: #111;
  font-size: 17px;
  font-weight: 400;
}
.hover-select-label .blue-txt {
  color: #2F75F1;
}
.hover-select-label .red-txt {
  color: #EB5757;
}

.hover-select-label:hover {
  background: rgba(217, 217, 217, 0.59);
}

.hover-select-label.type-badge {
  padding: 0;
  margin-bottom: 7px;
}
.hover-select-label.type-badge .ico-alarm-unchecked {
  margin-top: 2px;
}

.hover-select-label.type-badge:last-child {
  margin-bottom: 0;
}

.hover-select-label.type-badge:hover {
  background-color: transparent;
}

.date-form-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.date-form-item .date-label {
  color: #111;
  font-size: 17px;
  font-weight: 400;
  flex-shrink: 0;
}
.date-form-item .divider {
  color: #111;
  font-weight: 400;
  font-size: 17px;
  padding: 0 10px;
}

.hover-select-content-grp .date-form-item {
  padding-left: 35px;
  margin-bottom: 5px;
}
.hover-select-content-grp .date-form-item:last-child {
  margin-bottom: 0;
}

.date-form-inp-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.date-form-inp-wrap .date-inp {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  height: 32px;
  gap: 5px;
}
.date-form-inp-wrap .date-inp .inp {
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 14px;
  padding-left: 12px;
  outline: none;
}
.date-form-inp-wrap .cal-btn {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.badge-lg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 100px;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 700;
}

.badge-lg.type-red {
  background-color: #F67356;
  color: #fff;
}

.badge-lg.type-purple {
  background-color: #DBD8FA;
  color: #36349E;
}

.badge-lg.type-blue {
  background-color: #25C6DA;
  color: #fff;
}

.auth-page {
  width: 100%;
  height: 100vh;
  background-color: #2F3338;
}
.auth-page .page-container {
  width: 100%;
  height: 100%;
  text-align: center;
}
.auth-page .page-container:before {
  content: "";
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.auth-page .auth-form-box,
.auth-page .auth-setting-box {
  width: 95%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 50px 0;
}

.auth-form-box .ttl-wrap {
  margin-bottom: 18px;
}
.auth-form-box .ttl-wrap .title-desc {
  font-size: 18px;
  font-weight: 300;
  margin-top: 8px;
  color: white;
}
.auth-form-box .form-box {
  width: 100%;
  max-width: 573px;
  margin: 0 auto;
}
.auth-form-box .form-item-grp {
  margin-bottom: 50px;
}
.auth-form-box .form-item-grp:last-child {
  margin-bottom: 0;
}
.auth-form-box .ico-form-item-wrap {
  margin-bottom: 11px;
}
.auth-form-box .ico-form-item-wrap:last-child {
  margin-bottom: 0;
}
.auth-form-box .form-btn-grp {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 24px;
}

.auth-form-box.type-setting .title-xlg {
  font-size: 32px;
}
.auth-form-box.type-setting .ttl-wrap {
  margin-bottom: 12px;
}
.auth-form-box.type-setting .ico-form-item {
  height: 55px;
  padding-left: 16px;
}
.auth-form-box.type-setting .form-box {
  max-width: 395px;
}
.auth-form-box.type-setting .btn-type03 {
  font-size: 18px;
}
.auth-form-box.type-setting .condition-box {
  max-width: 395px;
}

.auth-setting-box .title-xlg {
  margin-bottom: 22px;
  font-size: 32px;
}
.auth-setting-box .ttl-desc {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  line-height: 1.5;
}
.auth-setting-box .ttl-desc .bold-txt {
  color: #fff;
  font-weight: 700;
}
.auth-setting-box .setting-btn-grp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 34px;
  margin-top: 23px;
}

.condition-box {
  border-radius: 9px;
  border: 1px solid #F0F0F0;
  background-color: #FBFBFB;
  max-width: 382px;
  margin: 0 auto;
  margin-top: 39px;
  padding: 18px 24px;
}
.condition-box .list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 10px;
}
.condition-box .list:last-child {
  margin-bottom: 0;
}
.condition-box .list .txt {
  font-size: 14px;
  font-weight: 700;
  color: #556372;
}

.dsbd-custom-gpt-page {
  max-width: 1332px;
}
.dsbd-custom-gpt-page .dashboard-ttl-wrap {
  width: 100%;
  max-width: 915px;
  margin-bottom: 60px;
  padding: 0 20px;
}
.dsbd-custom-gpt-page .dashboard-ttl-wrap .form-label {
  color: #556372;
  font-family: "Spoqa Han Sans Neo";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.dsbd-custom-gpt-page .dashboard-content-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: calc(100vh - 229px);
  min-height: 700px;
  gap: 100px;
}
.dsbd-custom-gpt-page .section {
  height: 100%;
  overflow: auto;
}
.dsbd-custom-gpt-page .left-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dsbd-custom-gpt-page .left-section .section-top {
  flex: 1;
  width: 100%;
  overflow: auto;
  padding: 20px;
}
.dsbd-custom-gpt-page .left-section .section-bottom {
  width: 100%;
}
.dsbd-custom-gpt-page .chat-view-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 19px;
}
.dsbd-custom-gpt-page .chat-create-box {
  border: 1px solid #D3D9EB;
  width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  flex-direction: row;
  gap: 15px;
  padding-right: 14px;
}
.dsbd-custom-gpt-page .right-section {
  width: 100%;
  max-width: 317px;
  padding-right: 16px;
}

.right-section .list-grp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.right-section .list-btn {
  border-radius: 5px;
  background-color: #FAFAFB;
  min-height: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  gap: 15px;
  padding-right: 12px;
}
.right-section .list-btn .left-txt {
  color: #556372;
  font-size: 14px;
  font-weight: 700;
}
.right-section .list-btn .btn-wrap {
  display: inline-flex;
  margin-left: auto;
  flex-shrink: 0;
  gap: 8px;
}
.right-section .list {
  width: 100%;
}
.right-section .list.active .list-btn {
  background-color: #EEFCFD;
}
.right-section .list.active .list-btn .left-txt {
  color: #2F75F1;
}

.chat-bubble-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.chat-bubble-wrap .name-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  font-size: 16px;
  font-weight: 500;
}
.chat-bubble-wrap .name-wrap .name {
  color: #556372;
}
.chat-bubble-wrap .name-wrap .sub-name {
  color: #8D96A1;
}

.chat-bubble-wrap.type-send {
  align-items: flex-end;
}
.chat-bubble-wrap.type-send .bubble-box {
  background-color: #2F75F1;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-color: #2f75f1;
}
.chat-bubble-wrap.type-send .bubble-box .txt {
  color: white;
  font-weight: 700;
}

.bubble-box {
  padding: 23px 30px;
  border: 1px solid #D2F2F7;
  background-color: #eefcfd;
}
.bubble-box .txt {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: #556372;
}

.dsbd-custom-gpt-setting-page .dashboard-ttl-wrap {
  margin-bottom: 33px;
}
.dsbd-custom-gpt-setting-page .dashboard-content-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 150px;
}
.dsbd-custom-gpt-setting-page .left-section {
  width: 100%;
}
.dsbd-custom-gpt-setting-page .right-section {
  width: 100%;
  max-width: 317px;
  padding-right: 16px;
}
.dsbd-custom-gpt-setting-page .form-box {
  width: 100%;
  max-width: 726px;
  margin: 0 auto;
}
.dsbd-custom-gpt-setting-page .form-item-grp {
  margin-bottom: 25px;
}
.dsbd-custom-gpt-setting-page .form-item-grp .form-item.type-02 {
  margin-bottom: 15px;
}
.dsbd-custom-gpt-setting-page .form-item-grp .form-item.type-02:last-child {
  margin-bottom: 0;
}

.dsbd-faq-page .dashboard-ttl-wrap.type-bd {
  margin-bottom: 30px;
}
.dsbd-faq-page .section {
  width: 100%;
}
.dsbd-faq-page .section-grid {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 58px;
}
.dsbd-faq-page .section-title-wrap {
  border: 1px solid #D2F2F7;
  background: #EEFCFD;
  padding: 6px 8px;
  margin-bottom: 25px;
}
.dsbd-faq-page .section-title-wrap .title {
  font-size: 20px;
  font-weight: 700;
  color: #242a30;
  line-height: 1.3;
}
.dsbd-faq-page .dashboard-content-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60px;
}
.dsbd-faq-page .faq-list-grp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  width: 100%;
}
.dsbd-faq-page .faq-list {
  width: 100%;
}

.accordion-faq-card .accordion-faq-top {
  cursor: pointer;
}
.accordion-faq-card .accordion-faq-top:hover {
  opacity: 0.6;
}
.accordion-faq-card .accordion-faq-bottom {
  margin-top: 11px;
  padding-left: 25px;
  width: 100%;
  display: none;
}

.accordion-faq-card.active .faq-card:before {
  transform: rotate(90deg);
}
.accordion-faq-card.active .accordion-faq-bottom {
  display: block;
}

.faq-card {
  position: relative;
  padding-left: 25px;
}
.faq-card:before {
  content: "";
  width: 13px;
  height: 13px;
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 0;
  background-image: url(../images/ico/ico-faq-polygon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0);
  transition: all 0.3s;
}
.faq-card .faq-card .txt {
  font-size: 16px;
  color: #000;
}

.faq-down-card .card-ttl {
  font-size: 16px;
  position: relative;
  padding-left: 13px;
  margin-bottom: 18px;
  line-height: 1.4;
  padding-top: 2px;
}
.faq-down-card .card-ttl:before {
  width: 2px;
  height: 25px;
  display: inline-block;
  content: "";
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
}
.faq-down-card .faq-ttl.type-lg {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
.faq-down-card .card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.faq-down-card .faq-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.faq-down-card .skyblue-box {
  width: 100%;
  padding: 14px 16px;
  background-color: #D2F2F7;
}

.dot-list-grp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.dot-list-grp .dot-list {
  padding-left: 10px;
  position: relative;
  width: 100%;
}
.dot-list-grp .dot-list:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 9px;
  left: 0;
}

.bar-list-grp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.bar-list-grp .bar-list {
  padding-left: 13px;
  position: relative;
  line-height: 1.5;
}
.bar-list-grp .bar-list:before {
  content: "-";
  position: absolute;
  top: 0;
  left: 0;
}

.dsbd-home-page .dashboard-ttl-wrap {
  margin-bottom: 20px;
}
.dsbd-home-page .dashboard-content-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 57px;
}
.dsbd-home-page .section {
  width: 100%;
}
.dsbd-home-page .nothing-box {
  padding: 50px 0;
}
.dsbd-home-page .notice-section .section-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  row-gap: 15px;
}
.dsbd-home-page .notice-section .notice-card {
  width: calc((100% - 20px) / 3);
}
.dsbd-home-page .project-section .section-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  row-gap: 15px;
}
.dsbd-home-page .project-section .project-card {
  width: calc((100% - 100px) / 3);
}

.dsbd-home-intro-card {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #DBDBDB;
  background-color: #FDFDFD;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  padding: 36px 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dsbd-home-intro-card .hover-set-item .hover-content-grp {
  padding-bottom: 25px;
  bottom: 0;
}
.dsbd-home-intro-card .hover-set-item .white-bd-box {
  font-size: 14px;
  min-width: 152px;
  text-align: center;
  padding: 10px 0;
  font-weight: 500;
  color: #242A30;
}
.dsbd-home-intro-card .title-wrap {
  width: 100%;
  padding-right: 20px;
}
.dsbd-home-intro-card .title-desc {
  margin-top: 14px;
  color: #8d96a1;
  font-weight: 500;
}
.dsbd-home-intro-card .card-section {
  width: 100%;
  padding: 0 20px;
  border-left: 1px solid #F0F0F1;
}
.dsbd-home-intro-card .card-section-title-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.dsbd-mypage-page .dashboard-ttl-wrap.type-bd {
  margin-bottom: 15px;
}
.dsbd-mypage-page .dashboard-content-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 45px;
}
.dsbd-mypage-page .dashboard-content-wrap .section-grid {
  width: 100%;
  gap: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dsbd-mypage-page .left-section,
.dsbd-mypage-page .right-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px;
}
.dsbd-mypage-page .left-section {
  max-width: 711px;
  flex-shrink: 0;
}
.dsbd-mypage-page .white-bd-box {
  width: 100%;
  padding: 39px;
}
.dsbd-mypage-page .white-bd-box .box-title-wrap {
  margin-bottom: 24px;
}
.dsbd-mypage-page .white-bd-box .box-content-wrap {
  width: 100%;
}
.dsbd-mypage-page .agree-box-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.dsbd-mypage-page .agree-box-container .agree-box {
  border-radius: 10px;
  border: 1px solid #CBCBCB;
  background-color: #E6E6E6;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  padding: 18px;
  max-height: 300px;
  overflow: auto;
}
.dsbd-mypage-page .agree-box-container .agree-box .txt {
  color: #7E7E7E;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}
.dsbd-mypage-page .page-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.dsbd-mypage-page .page-btn-wrap .btn-type16 {
  min-width: 272px;
}

.mypage-info-setting-box .thumbnail.type-circle {
  width: 160px;
  height: 160px;
  border: 1px solid #CBCBCB;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 26px;
}
.mypage-info-setting-box .edit-btn-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.mypage-info-setting-box .edit-btn-wrap .btn {
  min-width: 140px;
}
.mypage-info-setting-box .form-item-grp {
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 49px;
  margin-top: 83px;
}
.mypage-info-setting-box .form-item-grp .form-item {
  width: calc((100% - 49px) / 2);
}
.mypage-info-setting-box .form-item-grp .form-item .form-label {
  min-width: 60px;
}

.mypage-usage-box .box-content-wrap.type-grid {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 55px;
}
.mypage-usage-box .box-content {
  width: 100%;
}
.mypage-usage-box .title-item {
  margin-bottom: 7px;
}
.mypage-usage-box .title-sm {
  font-weight: 500;
  font-size: 18px;
  color: #7e7e7e;
}
.mypage-usage-box .progress {
  height: 23px;
}
.mypage-usage-box .progress-under-txt .right-txt {
  margin-left: auto;
  font-size: 14px;
  font-weight: 500;
}
.mypage-usage-box .box-btn-wrap {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 10px;
}

.mypage-pwd-setting-box .form-item-grp {
  padding: 0 20px;
}
.mypage-pwd-setting-box .form-item-grp .form-item {
  margin-bottom: 12px;
}
.mypage-pwd-setting-box .form-item-grp .form-item:last-child {
  margin-bottom: 0;
}
.mypage-pwd-setting-box .form-item .form-label {
  min-width: 150px;
}

.dsbd-notice-page {
  max-width: 1174px;
}
.dsbd-notice-page .dashboard-ttl-wrap.type-bd {
  margin-bottom: 15px;
}
.dsbd-notice-page .notice-list-grp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 30px;
}
.dsbd-notice-page .notice-list-card {
  width: 100%;
}
.dsbd-notice-page .notice-list-top {
  padding: 20px 0;
}
.dsbd-notice-page .notice-list-top .card-ttl {
  line-height: 1.3;
  color: #242A30;
  font-size: 18px;
  font-weight: 700;
}
.dsbd-notice-page .notice-list-top .date-txt {
  color: #8D96A1;
  text-align: right;
  font-family: "Spoqa Han Sans Neo";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.dsbd-notice-page .notice-list-bottom .txt {
  color: #8D96A1;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.dsbd-project-page .dashboard-ttl-wrap {
  margin-bottom: 20px;
}
.dsbd-project-page .grid-grp {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 38px;
  flex-wrap: wrap;
}
.dsbd-project-page .grid-grp .grid {
  width: calc((100% - 76px) / 3);
}
.dsbd-project-page .nothing-box {
  padding: 100px 0;
}

.dsbd-voice-page .dashboard-ttl-wrap {
  margin-bottom: 117px;
}
.dsbd-voice-page .nothing-box {
  padding: 100px 0;
}
.dsbd-voice-page .section-btn-wrap.type-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}
.dsbd-voice-page .grid-grp {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 41px;
  flex-wrap: wrap;
}
.dsbd-voice-page .grid-grp .grid {
  width: calc((100% - 82px) / 3);
}
.dsbd-voice-page .add-card {
  min-height: 135px;
}

.dashboard-page {
  width: 100%;
}

.dashboard-layout {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.dashboard-layout-sidebar {
  width: 100%;
  max-width: 343px;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  box-shadow: 6px 4px 17.6px -10px rgba(0, 0, 0, 0.25);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 15px;
}
.dashboard-layout-sidebar .txt-btn {
  justify-content: flex-start;
  color: #556372;
  font-size: 18px;
  font-weight: 400;
}
.dashboard-layout-sidebar .btn-list.active .txt-btn {
  font-weight: 700;
  text-decoration: underline;
}
.dashboard-layout-sidebar .btn-list.active .list-btn-type06,
.dashboard-layout-sidebar .dropdown-btn-top.active .list-btn-type06 {
  background-color: #eefcfd;
  border: 1px solid #d2f2f7;
  color: #2F75F1;
}
.dashboard-layout-sidebar .btn-list.active .list-btn-type06 .ico-on,
.dashboard-layout-sidebar .dropdown-btn-top.active .list-btn-type06 .ico-on {
  display: block;
}
.dashboard-layout-sidebar .btn-list.active .list-btn-type06 .ico-off,
.dashboard-layout-sidebar .dropdown-btn-top.active .list-btn-type06 .ico-off {
  display: none;
}
.dashboard-layout-sidebar .dropdown-btn-top.active .list-btn-type06 .ico-down {
  transform: rotate(0);
}
.dashboard-layout-sidebar .btn-list-grp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.dashboard-layout-sidebar .section {
  margin: 18px 0;
  position: relative;
  padding: 31px 0;
}
.dashboard-layout-sidebar .section:before, .dashboard-layout-sidebar .section:after {
  height: 2px;
  content: "";
  position: absolute;
  width: calc(100% - 40px);
  left: 20px;
  display: inline-block;
  background-color: #ECEDEE;
}
.dashboard-layout-sidebar .section:before {
  top: 0;
}
.dashboard-layout-sidebar .section:after {
  top: auto;
  bottom: 0;
}
.dashboard-layout-sidebar .dropdown-btn-list {
  width: 100%;
}
.dashboard-layout-sidebar .dropdown-btn-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dashboard-layout-sidebar .dropdown-btn-top.active ~ .dropdown-btn-bottom {
  display: block;
}
.dashboard-layout-sidebar .dropdown-btn-bottom {
  margin-top: 18px;
  display: none;
  padding-left: 67px;
}
.dashboard-layout-sidebar .dropdown-btn-bottom .btn-list {
  margin-bottom: 18px;
}
.dashboard-layout-sidebar .dropdown-btn-bottom .btn-list:last-child {
  margin-bottom: 0;
}
.dashboard-layout-sidebar .left-sidebar-top {
  width: 100%;
  padding: 38px 10px;
  border-bottom: 1px solid #ECEDEE;
}
.dashboard-layout-sidebar .left-sidebar-top .logo {
  margin-bottom: 0;
  width: auto;
}
.dashboard-layout-sidebar .left-sidebar-top .logo-link {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.dashboard-layout-sidebar .left-sidebar-mid {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  padding: 40px 0;
}
.dashboard-layout-sidebar .left-sidebar-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 52px 15px;
  font-size: 16px;
  font-weight: 400;
}
.dashboard-layout-sidebar .left-sidebar-bottom .logo-img {
  width: 84px;
}

.dashboard-layout-header {
  height: 120px;
  background-color: #0D2885;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 25px;
}
.dashboard-layout-header .right-wrap {
  gap: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.dashboard-layout-header .name-wrap {
  color: white;
  font-size: 20px;
  font-weight: 300;
}
.dashboard-layout-header .name-wrap .name {
  font-weight: 700;
}

.dashboard-layout-content {
  width: 100%;
  background-color: #F0F2F7;
}

.dashboard-layout-page {
  margin: 0 auto;
  width: 95%;
  max-width: 1478px;
  padding: 40px 0;
  min-height: calc(100vh - 120px);
}

.dashboard-ttl-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.dashboard-ttl-wrap .mg-left {
  display: inline-flex;
  gap: 10px;
  flex-wrap: wrap;
}
.dashboard-ttl-wrap .title-desc {
  color: #8D96A1;
  font-size: 16px;
  font-weight: 500;
}

.dashboard-ttl-wrap.type-bd {
  border-bottom: 1px solid #ECEDEE;
  padding-bottom: 10px;
}

.guide-page {
  padding: 30px 0;
  max-width: 1080px;
  margin: 0 auto;
}

.guide-table-wrap > h1 {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: -0.21px;
}

.guide-table-wrap {
  margin-bottom: 50px;
}

.guide-table-wrap table {
  width: 100%;
}

.guide-table-wrap table th {
  border-bottom: 1px solid #eaeaea;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
  padding: 11px 8px;
  color: #a8a8a8;
  background-color: #f7f7f7;
  border-top: 2px solid #eaeaea;
}

.guide-table-wrap table td {
  padding: 11px 8px;
  font-size: 14px;
  letter-spacing: -0.14px;
  vertical-align: top;
  border-bottom: 1px solid #f1f1f1;
}

.guide-table-wrap table a {
  /* font-weight: 500; */
  color: #296bb6;
  text-decoration: underline;
}

.dsbd-avatar-page .dashboard-ttl-wrap {
  margin-bottom: 15px;
}
.dsbd-avatar-page > .dashboard-ttl-wrap {
  margin-bottom: 50px;
}
.dsbd-avatar-page .dashboard-content-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60px;
}
.dsbd-avatar-page .section {
  width: 100%;
}
.dsbd-avatar-page .intro-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 124px;
}
.dsbd-avatar-page .grid-section .tabs {
  margin-bottom: 44px;
}
.dsbd-avatar-page .grid-grp {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 38px;
}
.dsbd-avatar-page .grid-grp .grid {
  width: calc((100% - 76px) / 3);
}
.dsbd-avatar-page .nothing-box {
  padding: 150px 0;
}

.tabs-content-container .tabs-content {
  display: none;
}
.tabs-content-container .tabs-content.active {
  display: block;
}

.project-page {
  width: 100%;
  position: relative;
  height: 100vh;
}

.project-layout {
  position: relative;
  width: 100%;
}

.project-layout-header {
  width: 100%;
  height: 100px;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #E9E9EA;
  padding-left: 376px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 21px;
  gap: 15px;
}
.project-layout-header .left-wrap {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.project-layout-header .left-wrap .back-btn {
  margin-right: 60px;
}
.project-layout-header .right-wrap {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.project-layout-header .page-ttl {
  font-size: 24px;
  font-weight: 400;
  color: #353d4a;
}

.project-layout-content {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: calc(100vh - 100px);
  overflow: hidden;
}

.project-layout-left {
  width: 100%;
  max-width: 380px;
  height: 100%;
  flex-shrink: 0;
  border-right: 1px solid #E9E9EA;
  background-color: #F9FAFA;
  overflow: auto;
}
.project-layout-left .left-sidebar {
  padding: 40px 35px;
}
.project-layout-left .left-sidebar-list {
  margin-bottom: 22px;
}
.project-layout-left .left-sidebar-list:last-child {
  margin-bottom: 0;
}

.project-layout-center {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 52px 0;
}
.project-layout-center .content-top {
  width: 95%;
  max-width: 675px;
  margin: 0 auto;
  margin-bottom: 55px;
}
.project-layout-center .content-mid {
  width: 95%;
  margin: 0 auto;
  max-width: 905px;
  margin-bottom: 52px;
}
.project-layout-center .content-mid .list-grp .list {
  margin-bottom: 20px;
}
.project-layout-center .content-mid .list-grp .list:last-child {
  margin-bottom: 0;
}
.project-layout-center .accordion-card.active .down-card .ico {
  transform: rotate(-180deg);
}
.project-layout-center .content-bottom {
  width: 95%;
  margin: 0 auto;
  max-width: 905px;
}
.project-layout-center .content-bottom .list-grp {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-layout-right {
  width: 100%;
  max-width: 380px;
  height: 100%;
  flex-shrink: 0;
  border-left: 1px solid #E9E9EA;
  background-color: white;
  overflow: auto;
}
.project-layout-right .right-sidebar {
  width: 100%;
  height: 100%;
  position: relative;
}

.right-sidebar-page {
  position: absolute;
  top: 0;
  left: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
}
.right-sidebar-page .right-sidebar-top {
  width: 100%;
}
.right-sidebar-page .right-sidebar-mid {
  width: 100%;
  flex: 1;
  overflow: auto;
}

.right-sidebar-page.active {
  left: 0;
  opacity: 1;
  pointer-events: visible;
}

.right-sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 22px 55px;
}
.right-sidebar-header .back-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
.right-sidebar-header .ttl {
  font-size: 18px;
  color: #353d4a;
  font-weight: 400;
}

.right-sidebar-page01 {
  padding: 17px 0;
  flex-direction: column;
}

.right-sidebar-page02 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.right-sidebar-page02 .right-sidebar-top {
  text-align: center;
}
.right-sidebar-page02 .right-sidebar-mid {
  padding: 20px;
}
.right-sidebar-page02 .chat-preview-container {
  text-align: center;
  padding: 50px 0;
}
.right-sidebar-page02 .chat-preview-container .ttl {
  margin-top: 20px;
  color: #242A30;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}
.right-sidebar-page02 .ex-list-grp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 18px;
  margin-top: 28px;
}
.right-sidebar-page02 .ex-list-grp .ex-list {
  cursor: pointer;
  border-radius: 5px;
  min-height: 98px;
  padding: 10px 15px;
  background-color: #F2F7FF;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
  color: #556372;
  font-size: 14px;
  width: 100%;
  font-weight: 400;
}
.right-sidebar-page02 .right-sidebar-bottom {
  width: 100%;
  border-top: 1px solid #E9E9EA;
}

.right-sidebar-page03 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.right-sidebar-page03 .right-sidebar-mid {
  padding: 17px;
}
.right-sidebar-page03 .form-item-grp .opt-form-item {
  margin-bottom: 50px;
}
.right-sidebar-page03 .form-item-grp .opt-form-item:last-child {
  margin-bottom: 0;
}
.right-sidebar-page03 .opt-list-grp {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
}
.right-sidebar-page03 .opt-list-grp .opt-list {
  width: 100%;
}
.right-sidebar-page03 .opt-list-grp .btn {
  width: 100%;
}
.right-sidebar-page03 .opt-checkbox-inp {
  display: none;
}
.right-sidebar-page03 .opt-checkbox-inp:checked ~ .cc-style-btn {
  border-color: #2F75F1;
}
.right-sidebar-page03 .opt-checkbox-inp:checked ~ .btn-type05 {
  background-color: #2F75F1;
  border-color: #2f75f1;
  color: white;
}